/* Styling for About */
.about-container{
    background-color: var(--bg-color);
    height: 100vh;
    background-size: cover;
}
.about-container1{
    position: relative;
    top: 250px;
    left: 120px;
    color: var(--font-color);
    width: 450px;
    height: 400px;
}
.about-container1  h3{
    color: var(--primary-color);
}
.about-container1  h3,h2,p,button{
    margin-bottom: 30px;
}
.about-container1  p{
    opacity: 0.7;
}
.about-container2{
    margin-top: -150px;
    margin-left: 600px;
    display: flex;
    flex-wrap: wrap;
}
.about-container2  img{
    border-radius: 50%;
    width: 390px;
    height: 390px;
    box-shadow: 0 0 12px 1px var(--primary-color);
}
.about-container4{
    margin-left: 40px;
}
table{
    margin-left: -20px;
    text-align: left;
    margin-bottom: 20px;
}
td{
    padding-left: 20px;
}
.card{
    border: 1px solid var(--font-color);
    padding: 15px 50px 0px 120px;
    background:#4c4c50;
    border:1px solid #2A2A36;
    border-radius:20px;
    opacity: 0.5;
    margin-bottom: 35px;
    transition: all 1s;
    
}
.card:hover{
    box-shadow: 0 0 22px 1px #8B5CF6;
    transform: scale(1.1);
}
.con2  div{
    opacity: 1;
    color: white;
}