/* applies for all content */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    scroll-behavior:smooth;
    cursor: pointer;
    border: none;
}
:root{
    --primary-color:#8B5CF6;
    --font-color:white;
    --bg-color: #0F172A;
    --border-radius:5px;
}
button{
    width: 180px;
    height: 40px;
    color: var(--font-color);
    background:linear-gradient(90deg,var(--primary-color),var(--primary-color));
    font-size: 15px;
    font-weight: 600;
    border-radius: var(--border-radius);
    margin-right: 20px;
    transition: all 0.8s;
}
button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px 2px var(--primary-color);
}
a{
    color: var(--font-color);
    text-decoration: none;
    padding: 10px 10p 10px 10px;
    font-size: 18px;
}
section{
    border-top:1px solid var(--bg-color);
}
/* styling for header section */
header{
    color: var(--font-color);
    background-color:var(--bg-color);
}
.navbar{
    height: 60px;
    width: 100%;
}
.logo{
    margin-left: 80px;
    padding: 10px 50px;
}
.nav-links{
    margin: -40px 0px 0px 600px;
    display:flex;
}
.nav-links  li{
    padding: 5px 20px 5px 20px;
    display: inline-flex;
    text-decoration: none;
    margin-right: 20px;
    border-radius: var(--border-radius);
    transition:all 0.9s;
}
.nav-links  li:hover{
    background:radial-gradient(var(--primary-color));
    box-shadow : 0 0 20px 1px var(--primary-color);
    transform: scale(1.2);
}
.final{
    height: 400px;
    background-image: url(./images/BG-images/footer.png);
    background-size: cover;
    text-align: center;
}
.final-card{
    margin-top: 90px;
    margin-right: 100px;
}
.final-card h3{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    opacity: 0.5;
}
.final-card h1{
    margin-bottom: 10px
}
.final hr{
    width: 100%;
    margin-top: 100px;
}
.finish{
    display: inline-flex;
    margin-left: 50px;
}
.final p{
    margin-top: 30px;
    opacity: 0.5;
    font-size: 15px;
}