/* applies for all content */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    scroll-behavior:smooth;
}
:root{
    --primary-color:#8B5CF6;
    --font-color:white;
    --bg-color: #0F172A;
}
button{
    width: 180px;
    height: 40px;
    color: var(--font-color);
    background:linear-gradient(90deg,var(--primary-color),var(--primary-color));
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5PX;
    margin-right: 20px;
    transition: all 0.8s;
}
button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px 2px var(--primary-color);
}
a{
    color: var(--font-color);
    text-decoration: none;
    padding: 10px 10p 10px 10px;
    font-size: 18px;
}
section{
    border-top:1px solid var(--bg-color);
}
/* styling for header section */
header{
    color: var(--font-color);
}
.navbar{
    height: 60px;
    width: 100%;
    background-color:var(--bg-color);
    display: flex;
    padding: 10px 0px 2px 0px;
}
.logo{
    margin-top: 10px;
    margin-left: 80px;
}
.nav-links{
    margin-top: 10px;
    margin-left: 350PX;
}
.nav-links  li{
    padding: 5px 20px 5px 20px;
    display: inline-flex;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
    transition:all 0.9s;
}
.nav-links  li:hover{
    background:radial-gradient(var(--primary-color));
    box-shadow : 0 0 20px 1px var(--primary-color);
    transform: scale(1.2);
}
/* Styling for section - 1 */

.container{
    height: 100vh;
    background-image: url(./images/BG-images/home.png);
    background-repeat: no-repeat;
    color: var(--font-color);
    background-size:cover;
}
.content1{
    height: 300px;
    width: 550px;
    position: relative;
    top: 200px;
    left: 150px;
}
.content1  h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.content1  h2,p{
    margin-bottom: 20px;
    font-size: 20px;
}
.content1  :nth-child(1){
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
}
.content1  :nth-child(1) > span{
    color: var(--primary-color);
}
.content1  :nth-child(3){
    color: var(--primary-color);
}
.content1  h1  span{
    font-size: 35px;
    font-weight: 600;
}
.content1  p{
    font-weight: 100;
    opacity: 0.7;
}
.content2{
    margin-top: 200px;
    margin-left: 150px;
}
.content3{
    margin-top: 30px;
    margin-left: 150px;
}
.content3  a  img{
    height: 30px;
    margin-right: 40px;

}

/* Styling for About */
.about-container{
    background-color: var(--bg-color);
    height: 100vh;
    background-size: cover;
}
.about-container1{
    position: relative;
    top: 250px;
    left: 120px;
    color: var(--font-color);
    width: 450px;
    height: 400px;
}
.about-container1  h3{
    color: var(--primary-color);
}
.about-container1  h3,h2,p,button{
    margin-bottom: 30px;
}
.about-container1  p{
    opacity: 0.7;
}
.about-container2{
    margin-top: -150px;
    margin-left: 600px;
    display: flex;
    flex-wrap: wrap;
}
.about-container2  img{
    border-radius: 50%;
    width: 390px;
    height: 390px;
    box-shadow: 0 0 12px 1px var(--primary-color);
}
.about-container4{
    margin-left: 40px;
}
table{
    margin-left: -20px;
    text-align: left;
}
td{
    padding-left: 20px;
}
.card{
    border: 1px solid var(--font-color);
    padding: 15px 50px 0px 120px;
    background:#4c4c50;
    border:1px solid #2A2A36;
    border-radius:20px;
    opacity: 0.5;
    margin-bottom: 35px;
    transition: all 1s;
    
}
.card:hover{
    box-shadow: 0 0 22px 1px #8B5CF6;
    transform: scale(1.1);
}
.con2  div{
    opacity: 1;
    color: white;
}

/* Styling for Skill section */

.skill-container{
    background-image: url(./images/BG-images/about.png);
    height: 100vh;
    background-size: cover;
    text-align: center;
}
.skill-container  h1 {
    padding-top: 50px;
    color:#A855F7;
}
.skill-images{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    column-gap: normal;
    row-gap: 30px;
    margin:25px 0px 0px 50px;
}

.skill-images  div{
    height: 200px;
    width: 300px;
    background-color: #4c4c50;
    opacity: .8;
    border-radius: 10px;
    transition: all 1s;
}
.skill-images  img{
    position: relative;
    top: 20px;
    height: 100px;
    opacity: 1;
}
.skill-images  h1{
    color: white;
    font-size: 18px;
    text-decoration:underline ;
}
.skill-images div:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px #8B5CF6;

}
/* Styling for Project section */
.pro-container{
    background-color:#0F172A;
    height: 100vh;
}
.pro-con1{
    display: flex;
    justify-content: space-between;
    margin-right:20px;
    padding-top: 50px;
    padding:50px 50px 20px 50px ;
}
.pro-con1 h1{
    color: #8B5CF6;
}
.pro-con2{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    row-gap: 60px;
    margin:10px 0px 0px 50px;
}
.pro-card{
    height: 300px;
    width: 300px;
    background-color: #4c4c50;
    opacity: 0.6;
    border-radius: 10px;
    transition: all 1s;
}
.pro-card:hover{
    box-shadow: 0 0 10px 1px #8B5CF6;
    transform: scale(1.1);
}
.pro-card h3{
    margin-bottom: 10px ;
    color: #f7f7f7;
}
.pro-card p{
    font-size: 12px;
    opacity: 0.7;
    width: 280px;
}
.pro-card div{
    position: relative;
    top: 180px;
    left: 20px;
}
.ser-bg{
    height: 100vh;
    background-image: url(./images/BG-images/services.png);
}
.ser-bg h1{
    padding-top: 100px;
    text-align: center;
    color: #8B5CF6;
}
.ser-container{
    height: 400px;
    width: 400px;
    background-color: #4c4c50;
    opacity: 0.6;
    border-radius: 10px;
    transition: all 1s;
    margin-top: 40px;
    position: relative;
    top: 100px;
    left: 100px;
    transition: all 1s;
}
.ser-container:hover{
    box-shadow: 0 0 10px 1px #8B5CF6;
    transform: scale(1.1);
}
.full-ser{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    column-gap: 70px;
}
.ser-card{
    position: relative;
    top: 230px;
    left: 30px;
}
.ser-card h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}
.ser-card p{
    font-size: 15px;
    width: 350px;
    opacity: 0.7;
}

/* Styling for contact section */
.contact-bg{
    background-color:#0F172A ;
    height: 100vh;
}
.contact-full{
    text-align: center;
}
.contact-full h1{
    padding-top: 70px;
    color:#8B5CF6;
}
.contact-card{
    height: 500px;
    width: 700px;
    background-color: #4c4c50;
    opacity: 0.7;
    border-radius: 20px;
    backface-visibility: visible;
    position: relative;
    top: 100px;
    left: 750px;
}
.contact-card div{
    padding-top: 8px;
}
.card-content input[type="text"],input[type="textarea"] {
  width: 300px;                 
  padding: 12px 20px;
  margin-top: 20px;                           
  box-sizing: border-box;      
  border: 2px solid #ccc;       
  border-radius: 10px;           
  font-size: 16px;              
  background-color: #4c4c50; 
  backface-visibility: visible; 
}
.contact-card input[type="textarea"] {
  width: 605px;                 
}
.contact-card input:nth-of-type(4) {
    padding-bottom:200px ;
}

.card-content input::placeholder{
    color: white;
}
.final{
    height: 400px;
    background-image: url(./images/BG-images/footer.png);
    background-size: cover;
    text-align: center;
}
.final-card{
    margin-top: 90px;
    margin-right: 100px;
}
.final-card h3{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    opacity: 0.5;
}
.final-card h1{
    margin-bottom: 10px
}
.final hr{
    margin-top: 100px;
}
.finish{
    display: inline-flex;
    margin-left: 50px;
}
.final p{
    margin-top: 30px;
    opacity: 0.5;
    font-size: 15px;
}